//normalize
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css";

//variables
$baseFontSize: 16px;
$containerWidth: 68.75rem;

//functions 

@function rem($px) {
    @return $px / $baseFontSize + 0rem
}

//breakpoints

$tablet:768px;
$phone:480px;

//colors
$grey:#F5F5F5;

//setups
@import "https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Play:wght@400;700&display=swap";
@import "./media_requests";
@import "layout";
@import "./components/hero";
@import "./components/header";
@import "./components/burger";
@import "./components/icons";
@import "./components/btn";
@import "./components/section";
@import "./components/why";
@import "./components/reviews";
@import "./components/forms";
@import "./components/fixed-menu";
@import "./components/map";
@import "./components/footer";
@import "./components/socials";
