@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css";
@import "https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Play:wght@400;700&display=swap";
html, body {
  height: 100%;
  font-size: 16px; }

body {
  font-family: "Play", Arial, Helvetica, sans-serif;
  font-style: normal;
  color: #292929;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative; }

.wrapper {
  position: relative;
  width: 100%;
  min-width: 70rem;
  min-height: 100%;
  overflow: hidden; }

.hero__container {
  width: 68.75rem;
  height: 100%;
  margin: 0 auto;
  background: url("../images/product1.png") left 90% bottom 20% no-repeat;
  background-size: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 6.25rem 4.125rem 5rem;
  position: relative; }
  .hero__container::before {
    content: url("../images/rectangle_hero.png");
    position: absolute;
    right: 10%;
    bottom: -1.5625rem; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal; }

table {
  border-collapse: collapse; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

footer {
  position: relative;
  width: 100%; }

* {
  box-sizing: border-box; }

a {
  color: inherit; }

img {
  display: block;
  max-width: 100%; }

.hero {
  background-color: #F5F5F5;
  height: 100vh;
  min-height: 40.625rem; }

.hero__title-section {
  max-width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 4.375rem; }

h1 {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.25rem;
  text-transform: uppercase; }

.hero__main-title {
  max-width: 25rem;
  margin-bottom: 1.375rem; }

.hero__title-desc {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  max-width: 25rem;
  margin-bottom: 2.25rem; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5rem 0 3.125rem 0; }

.logo {
  margin-right: 2.375rem; }

.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'Alegreya Sans';
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; }

.menu__item {
  margin-right: 1.6875rem; }
  .menu__item:last-child {
    margin-right: 0; }
  .menu__item:hover {
    color: #E01F3D; }

.menu__link {
  text-decoration: none; }

.phone-number {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: auto; }

.phone-number__icon {
  margin-right: 0.375rem; }

.phone-number__icon-elem {
  width: 0.875rem; }

.phone-number__text {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.125rem; }

.hero__icons-section {
  display: flex;
  flex-direction: row; }

.features__list {
  display: flex;
  flex-direction: row;
  align-items: center; }

.features__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 0.25rem;
  position: relative; }
  .features__item:last-child {
    margin-right: 0; }

.feature__icon {
  height: 2.375rem;
  width: 2.375rem;
  margin-right: 0.75rem; }

.feature__text {
  line-height: 1.125rem;
  max-width: 7.1875rem; }

.btn {
  font-weight: 700;
  line-height: 1.125rem;
  text-align: center;
  color: #FFFFFF;
  background: #E01F3D;
  border-radius: 100px;
  padding: 1.125rem 2.5625rem;
  border: none;
  max-width: 10rem;
  text-decoration: none;
  cursor: pointer; }

.btn__transparent {
  background: none;
  padding: 1.125rem 0.625rem; }

.section {
  width: 68.75rem;
  margin: 0 auto;
  padding: 5rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center; }

h2 {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.25rem;
  text-transform: uppercase; }

h3 {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem; }

.section__header {
  display: flex;
  flex-direction: column;
  align-items: center; }

.section__why {
  position: relative;
  height: 100vh; }
  .section__why::after {
    content: url("./../../images/triangle_why.png");
    position: absolute;
    left: 5%;
    bottom: -1.5625rem; }

.why__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; }

.why__header {
  margin-top: 3.125rem;
  margin-bottom: 3.875rem; }

.why__header-main {
  margin-bottom: 1.125rem; }

.why__header-desc {
  max-width: 30.625rem; }

.why__features-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.why__features-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  padding: 0 2.1875rem;
  position: relative; }
  .why__features-item::before {
    position: absolute;
    content: url("../images/why_bubble.png");
    top: 3.125rem;
    right: 0;
    transform: translatex(50%); }
  .why__features-item:last-child::before {
    display: none; }

.why__features-img {
  background-color: #F5F5F5;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem; }

.why__features-icon {
  height: 3.75rem; }

.why__features-header {
  margin-bottom: 0.4375rem; }

.why__features-sep {
  width: 4.375rem;
  margin-top: 5%; }

.section__reviews {
  position: relative;
  height: 100vh; }

.reviews__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .reviews__wrapper:after {
    content: url("../../images/circle_review.png");
    position: absolute;
    left: 5%;
    bottom: -1.5625rem; }

.reviews__main {
  background-color: #F8FAF9; }

.reviews__block {
  padding: 2.1875rem 2,625rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left; }

.review__avatar {
  margin-right: 2.5rem; }

.review__avatar-img {
  width: 15.8125rem;
  height: 16.5rem; }

.review__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 31.25rem; }

.review__header {
  margin-top: 1.25rem; }

.review__username {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  margin-bottom: 0.9375rem; }

.reviews__pager {
  padding: 1.25rem; }

.reviews__pager-list {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.reviews__pager-item {
  margin-right: 0.3125rem;
  border: solid 0.25rem transparent; }
  .reviews__pager-item--active {
    border: 0.25rem solid #E01F3D;
    border-radius: 6.25rem; }
  .reviews__pager-item:last-child {
    margin-right: 0; }

.reviews__pager-img {
  height: 4.625rem;
  width: 4.625rem;
  border-radius: 6.25rem; }

.section__forms {
  background-color: #313131;
  color: #FFFFFF;
  display: flex;
  height: 100vh;
  width: 100vw; }

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row; }

.forms__header-main {
  margin-bottom: 3.75rem; }

.form__col {
  flex: 1;
  margin-right: 1.6875rem; }
  .form__col:last-child {
    margin-right: 0; }

.form__row {
  display: flex;
  margin-bottom: 0.6875rem; }
  .form__row:last-child {
    margin-bottom: 0; }

.form__block {
  flex: 1;
  margin-right: 1.0625rem; }
  .form__block:last-child {
    margin-right: 0; }

.form__title {
  text-align: left; }

.form__input {
  width: 100%;
  height: 3.625rem;
  border: none;
  padding: 1.125rem 0.6875rem;
  border-radius: 0.25rem;
  border: solid 0.1875rem transparent; }
  .form__input--textarea {
    height: 9.375rem;
    resize: none;
    margin-bottom: 0.625rem; }
  .form__input:focus {
    border: solid 0.1875rem #E01F3D;
    outline: none; }

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.1875rem; }

.form__controls-checkbox {
  margin-bottom: 3.125rem; }

.radio {
  display: flex;
  margin-right: 1rem;
  cursor: pointer;
  user-select: none; }
  .radio--checkbox .radio__visible {
    border-radius: 0; }
    .radio--checkbox .radio__visible::before {
      background: url(../../images/tick.png) center center no-repeat; }

.radio__elem {
  display: none; }
  .radio__elem:checked ~ .radio__visible::before {
    display: block; }

.radio__visible {
  width: 1.5625rem;
  height: 1.5625rem;
  position: relative;
  border-radius: 50%;
  background: #FFFFFF;
  margin-right: 0.625rem; }
  .radio__visible::before {
    content: "";
    width: 0.8125rem;
    height: 0.8125rem;
    background: #E01F3D;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; }

.form__buttons {
  text-align: left; }

.fixed-menu {
  position: fixed;
  top: 40%;
  right: 5%;
  z-index: 100; }

.fixed-menu__item {
  margin-bottom: 0.375rem; }
  .fixed-menu__item--active .fixed-menu__link {
    border-color: #E01F3D; }
    .fixed-menu__item--active .fixed-menu__link::before {
      background: #E01F3D; }
  .fixed-menu__item:last-child {
    margin-bottom: 0; }

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  display: block;
  position: relative; }
  .fixed-menu__link::before {
    position: absolute;
    content: "";
    display: block;
    width: 0.5625rem;
    height: 0.5625rem;
    border-radius: 50%;
    background: #888888;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

@media print {
  .fixed-menu {
    display: none; }

  .header {
    display: none; }

  .section__forms {
    display: none; } }
@media (max-width: 1100px) {
  html, body {
    font-size: 16px; }

  body:after {
    content: "desktop"; } }
@media (max-width: 768px) {
  html, body {
    font-size: 14px; }

  body:after {
    content: "tablets"; }

  .wrapper {
    min-width: 0px; }

  .hero__container {
    padding: 0 4.25rem 3.125rem 3rem; }

  .header {
    padding: 1rem 0 2.5rem 0; } }
@media (max-width: 480px) {
  html, body {
    font-size: 13px; }

  body:after {
    content: "phones"; }

  .wrapper {
    min-width: 0px; }

  .hero__container {
    padding: 0 2.25rem 3.125rem 1.5rem; }

  .header {
    padding: 0.8rem 0 2rem 0; } }

/*# sourceMappingURL=main.css.map */
