
.burger {
    width: 26px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;

}

.burger__line {
    display: block;
    background: #292929;
    height: 4px;
    border-radius: 10px;
    margin-bottom: 5px;
    display: none;

    @include tablets {
        display: block;
    }

    @include phones {
        display: block;
    }
}