
.burger {
    width: rem(26px);
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;

}

.burger__line {
    display: block;
    background: #292929;
    height: rem(4px);
    border-radius: rem(10px);
    margin-bottom: rem(5px);
    display: none;

    @include tablets {
        display: block;
    }

    @include phones {
        display: block;
    }
}