.section__colors{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("../images/colors.jpg") left 0 top 0 /contain no-repeat;
    background-size: auto 100%;
}

.colors__wrapper {
    display: flex;
    flex-direction: row;
}

.colors__header {
    color: #FFFFFF;
}

.slide__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.slide__item {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.slide__button {
    text-decoration: none;
    height: 100vh;
    width: rem(102px);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: rem(34px);

    @include tablets {
        width: rem(92px);
    }

    @include phones {
        width: rem(62px);
    }
}

.slide__button-grey {
    background: #999999;
}

.slide__button-black {
    background: #151515;
}

.slide__button-red {
    background: #E01F3C;
}

.slide__header {
    min-width: rem(43px);
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 700;
    font-size: rem(36px);
    line-height: rem(43px);
    color: #FFFFFF;
    writing-mode: tb-rl;
    transform: rotate(-180deg);

}

.slide__item-content {
    overflow: hidden;
    background: rgba(51, 53, 55, 0.9);
    backdrop-filter: blur(5px);
    width: 0px;
    height: 100vh;
    transition: width .6s;
}

.slide__item-content_active {
    overflow:auto;
    width: rem(524px);
    margin-bottom: auto;
}

.slide__item-text {
    text-align: left;
    color: #FFFFFF;
    padding: rem(32px);
}

.close__button-color {
    position: absolute;
    display: block;
    top: rem(22px);
    right: rem(22px);
    width: rem(20px);
    height: rem(20px);
}

.close__button-svg-clr {
    display: block;
    width: rem(20px);
    height: rem(20px);
}