.footer {
    display: flex;flex-direction: row;
    justify-content: space-between;
    padding: 1.25rem 3.375rem 1.25rem 5.375rem;
    font-size: 1.125rem;
}

.footer__contact {
    margin-bottom: 0.1875;
}

