.section__footer {
    height: 100%;
    width: 100%;
    position: relative;
}

.footer {
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    height: 86px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 3.375rem 1rem 5.375rem;

    @include phones {
        height: 107px;
    }

    @include phones {
        flex-direction: column;
        justify-content: center;
        height: 150px;
        padding: 1rem 3.375rem;
    }
}

.footer__contacts {
    margin-bottom: 0.1875rem;
}

.footer__address {
    @include phones {
        text-align: center;
        margin-bottom: rem(5px);
    }
    
}
