
.section__forms {
    background-color: #313131;
    color: #FFFFFF;
    display: flex;
    height: 100vh;
    width: 100vw;

    @include tablets {
        // width: 100vw;
        padding: 0rem 5rem;
        margin: 0 auto;
    }

    @include phones {
        // width: 100vw;
        padding: 0rem 1rem;
        margin: 0 auto;
    }
}

.forms__wrapper {
    margin: 0 auto;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

    @include tablets {
        flex-direction: column;
        margin: 0 auto;
    }

    @include phones {
        flex-direction: column;
        margin: 0 auto;
    }
}

.forms__header {
    padding: 2rem 0rem;
}

.form__col {
    flex: 1;
    margin-right: 1.6875rem;
    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: 0;
    }

    @include phones {
        margin-right: 0;
    }
    
}

.form__row {
    display: flex;
    margin-bottom: 0.6875rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.form__block {
    flex: 1;
    margin-right: 1.0625rem;
    &:last-child {
        margin-right: 0;
    }
}

.form__title {
    text-align: left;
}

.form__input {
    width: 100%;
    height: 3.625rem;
    border: none;
    padding: 1.125rem 0.6875rem;
    border-radius: 0.25rem;
    border: solid 0.1875rem transparent;

    &--textarea {
        height: 9.375rem;
        resize: none;
        margin-bottom: 0.625rem;
    }

    &:focus {
        border: solid 0.1875rem #E01F3D;
        outline: none;
    }

    @include tablets {
        height: 36px;
    }

    @include phones {
        height: 36px;
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.1875rem;
}

.form__controls-checkbox {
    margin-bottom: 3.125rem;
}

.radio {
    display: flex;
    margin-right: 1rem;
    cursor: pointer;
    user-select: none;

    &--checkbox {
        .radio__visible {
            border-radius: 0;

            &::before {
                background: url(../../images/tick.png) center center no-repeat;
            }
        }
    }
}

.radio__elem {
    display: none;

    &:checked ~ .radio__visible {
        &::before {
            display: block;
        }
    }
}

.radio__visible {
    width: 1.5625rem;
    height: 1.5625rem;
    position: relative;
    border-radius: 50%;
    background: #FFFFFF;
    margin-right: 0.625rem;

    &::before {
        content: "";
        width: 0.8125rem;
        height: 0.8125rem;
        background: #E01F3D;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
    }
}

.radio__title {
    margin-bottom: 10px;
}

.form__buttons {
    text-align: left;

    @include tablets {
        text-align: center;
    }
    @include phones {
        text-align: center;
    }
}