body {
    position: relative;
}

.section__modal {
    position: absolute;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: rem(36px);
    line-height: rem(72px);
    color: #FFFFFF;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #313131;
    z-index: 10000;
}

.modal {
    position: relative;
}

.modal__link {
    text-decoration: none;
}

.close__button {
    position: absolute;
    display: block;
    top: rem(42px);
    right: rem(42px);
    width: rem(20px);
    height: rem(20px);
}

.close__button-svg {
    display: block;
    width: rem(20px);
    height: rem(20px);

    @include phones {
        width: rem(30px);
        height: rem(30px);
    }
}