.section__player {
    height: 100%;
    position: relative;

    &::after {
        content: url("../images/polygon.png");
        position: absolute;
        right: 0;
        bottom: -2rem;
    }
}

.container__player {
    height: 100%;
}

.player-section__container {
    display: flex;
    justify-content: center;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: rem(660px);
}

// .player__wrapper {
//     display: block;
//     background: url("../images/playBig.png") center center /contain no-repeat;
// }

.player__splash {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: url("../images/splash.png") center center /contain no-repeat;
    cursor: pointer;
}

.player__controls {
    position: absolute;
    height: rem(35px);
    left: 0;
    right: 0;
    width: 100%;
    background: #151515;
    bottom: 0;
    padding: 6px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.player__strt {
    width: 20px;
    height: 20px;
    padding: 0 5px 0 0;
}

.player__start {
    background: url("../images/play.png") center center /contain no-repeat;
    width: 13px;
    height: 20px;
    border: none;
}

.player__paused{
    background: url("../images/pause.png") center center /contain no-repeat;
    width: 18px;
    height: 18px;
    border: none;
}

.player__duration {
    color: white;
}

.player__playback {
    width: 75%;
    height: 5px;
    background: url("../images/line.png") center center /contain no-repeat;
    background-size: 500px 5px;
    border: none;
    position: relative;
}

.player__playback-button {
    border: none;
    background: #E01F3D;
    border-radius: 50px;
    width: 12px;
    height: 12px;
    padding: 0;
    position: absolute;
    top: 3px;
    transform: translate(-50%,-50%);
    left: 0;
}

