.section__player {
    height: 100%;
    position: relative;

    &::after {
        content: url("../images/polygon.png");
        position: absolute;
        right: 0;
        bottom: -2rem;
    }
}

.container__player {
    height: 100%;
}

.player-section__container {
    display: flex;
    justify-content: center;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: rem(662px);
}

.player__wrapper {
    display: block;
    // background: url("../images/playBig.png") center center /contain no-repeat;
}

.player__splash {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: url("../images/splash.png");
    cursor: pointer;
}

.player__controls {
    position: absolute;
    height: rem(35px);
    left: 0;
    right: 0;
    width: rem(660px);
    background: #151515;
    bottom: 0;
    padding: rem(6px);
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
}

.player___btn {
    width: 20px;
    height: 20px;
}

.player__start {
    background: url("../images/play.png") center center /contain no-repeat;
    width: 13px;
    height: 20px;
}

.player__paused{
    background: url("../images/pause.png") center center /contain no-repeat;
    width: 18px;
    height: 18px;
}

.player__wrapper {
    position: relative;
}

.player__btn-container {
    z-index: 10;
    position: absolute;
    display: block;
    top: 0;
}

