
.section__reviews {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 1rem 0rem;
}

.reviews__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:after {
        content: url("../images/circle_review.png");
        position: absolute;
        left: 5%;
        bottom: -1.5625rem;
    }    
}

.reviews__main {
    background-color: #F8FAF9;
    width: 80%;
    margin: 0 auto;

    @include tablets {
        width: 95%;
        margin: 0 auto;
    }
    @include phones {
        width: 95%;
        margin: 0 auto;
    }
}



.reviews__header-main {
    @include tablets {
        margin-bottom: rem(30px);
    }
    @include phones {
        margin-top: 20px;
        margin-bottom: rem(15px);
    }
}

.reviews__block {
    padding: 2.1875rem 2.625rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;

    @include tablets {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    @include phones {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

}

.review__avatar {
    margin-right: 2.5rem;

    @include tablets {
        padding: rem(20px) 0 rem(30px) 0;
        margin-right: 0;
    }
    @include phones {
        padding: rem(20px) 0 rem(30px) 0;
        margin-right: 0;
    }
}

.review__avatar-img {
    width: 347px;
    height: 264px;

    @include tablets {
        width: 130px;
        height: 130px;
    }

    @include phones {
        width: 130px;
        height: 130px;
    }
}

.review__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;

    @include tablets {
        align-items: center;
    }
    @include phones {
        align-items: center;
    }
}

.review__header {
    margin-top: 1.25rem;

    @include tablets {
        margin-top: 0;
    }

    @include phones {
        margin-top: 0;
    }
}

.review__text {
    @include tablets {
        margin-bottom: rem(10px);
    }
    @include phones {
        margin-bottom: rem(10px);
    }
}

.review__username {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    margin-bottom: 0.9375rem;
}

.reviews__pager {
    padding: 1.25rem;
}

.reviews__pager-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reviews__pager-item {
    margin-right: 0.3125rem;
    border: solid 0.25rem transparent;
    &--active {
        border: 0.25rem solid #E01F3D;
        border-radius: 6.25rem;
    }

    &:last-child {
        margin-right: 0;
    }
    
}

.reviews__pager-img{
    height: 4.625rem;
    width: 4.625rem;
    border-radius: 6.25rem;
}