.section {
    width: $containerWidth;
    margin: 0 auto;
    padding: 5rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    @include tablets {
        padding: 5rem 0rem;
    }

    @include phones {
        padding: 5rem 0rem;
    }
}


.section__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}