
.social-media__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include phones {
        justify-content: center;
    }
}

.social-media__item {
    margin-right: 0.5625rem;

    &:last-child {
        margin-right: 0;
    }
}

.media__icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    fill: #B3B3B3;

    &:hover {
        fill: black;
    }
}

