.team {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.team__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team__header {
    margin-bottom: rem(53px);

    @include tablets {
        margin-bottom: rem(33px);
    }

    @include phones {
        margin-bottom: rem(33px);
    }
}

.team__list {
    display: flex;
    flex-direction: row;

    @include tablets {
        display: none;
    }

    @include phones {
        display: none;
    }
}

.team__list-mobile {
    display: none;
    flex-direction: column;

    @include tablets {
        display: flex;
    }

    @include phones {
        display: flex;
    }
}

.team__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: rem(220px);
    margin-right: rem(20px);
    position: relative;

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-bottom: rem(16px);
        margin-right: 0;
    }

    @include phones {
        margin-bottom: rem(16px);
        margin-right: 0;
    }
}

.team__item-img {
    margin-bottom: rem(52px);

    @include tablets {
        margin-bottom: rem(21px);
    }

    @include phones {
        margin-bottom: rem(21px);
    }
}

.triangle {
    width: rem(8px);
    height: rem(8px);
}

.triangle__down {
    display: inline;
}

.triangle__up {
    display: none;
}

.team__name-section {
    display: inline-flex;
    align-items: center;
    margin-bottom: rem(11px);

    @include tablets {
        align-items: baseline;
    }

    @include phones {
        align-items: baseline;
    }
}

.team__name {
    font-weight: 700;
    font-size: rem(18px);
    line-height: rem(21px);
    margin-right: rem(5px);

    @include tablets {
        margin-bottom: rem(15px);
    }

    @include phones {
        margin-bottom: rem(15px);
    }
}

.team__dropdown {
    position: absolute;
    top: 100%;
    overflow: hidden;
    height: 0;
    transition: height .3s;

    @include tablets {
        position: relative;
    }

    @include phones {
        position: relative;
    }
}

.team__dropdown-wrapper {
    display: block;
}

.team__position {
    margin-bottom: rem(4px);

    @include tablets {
        font-weight: 700;
        font-size: rem(18px);
        line-height: rem(21px);
    }

    @include phones {
        font-weight: 700;
        font-size: rem(18px);
        line-height: rem(21px);
    }
}

.team__descr {
    color: #666666;
}