.section__why {
    width: 95%;
    position: relative;
    height: 100vh;

    @include tablets {
        justify-content: center;
    }

    @include phones {
        justify-content: center;
    }

    &::after {
        content: url("../images/triangle_why.png");
        position: absolute;
        left: 5%;
        bottom: -1.5625rem;
    }
}

.why__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why__header {
    margin-top: 3.125rem;
    margin-bottom: 3.875rem;

    @include phones {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

.why__header-main {
    margin-bottom: 1.125rem;
}

.why__header-desc {
    max-width: 30.625rem;
}

.why__features-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include phones {
        flex-direction: column;
    }
}

.why__features-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    padding: 0 2.1875rem;
    position: relative;

    @include tablets {
        padding: 0 0;
        width: auto;
    }

    @include phones {
        padding: 0 0;
        width: auto;
        flex-direction: row;
        margin-bottom: rem(5px);
    }
    

    &::before {
        @include tablets {
            display: none;
        }

        @include phones {
            display: none;
        }
    }

    &::before {
        position: absolute;
        content: url("../images/why_bubble.png");
        top: 3.125rem;
        right: 0;
        transform: translatex(50%);
    }

    &:last-child {

        &::before {
            display: none;
        }
    }
}

// .why__features-img {
//     fill: black;
//     width: rem(60px);
//     height: rem(60px);
// }

.why__features-desc {
    max-width: rem(300px);

    @include phones {
        width: 60vw;
    }
}

.why__features-img {
    background-color: $grey;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    
    @include phones {
        flex: 1;
        height: 6rem;
        width: 6rem;
        margin-right: rem(7px);
    }
}

.why__features-icon {
    height: 3.75rem;

    @include phones {
        height: 3rem;
    }
}

.why__features-header {
    margin-bottom: 0.4375rem;
}

.why__features-sep {
    width: 4.375rem;
    margin-top: 5%;
}

