.hero {
    background-color: $grey;
    height: 100vh;
    min-height: 650px;
}

.hero__title-section {
    max-width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 70px;
}

h1 {
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    text-transform: uppercase;
}

.hero__main-title {
    max-width: 400px;
    margin-bottom: 22px;
}

.hero__title-desc {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    max-width: 400px;
    margin-bottom: 36px;
}