.hero {
    background-color: $grey;
    height: 100vh;
    min-height: 40.625rem;
}

.hero__title-section {
    max-width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 4.375rem;
}

h1 {
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.25rem;
    text-transform: uppercase;
}

.hero__main-title {
    max-width: 25rem;
    margin-bottom: 1.375rem;
}

.hero__title-desc {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.5625rem;
    max-width: 25rem;
    margin-bottom: 2.25rem;
}