
.section__reviews {
    position: relative;
    height: 100vh;
}

.reviews__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:after {
        content: url("../../images/circle_review.png");
        position: absolute;
        left: 5%;
        bottom: -1.5625rem;
    }    
}

.reviews__main {
    background-color: #F8FAF9;
}

.reviews__block {
    padding: 2.1875rem 2,625rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
}

.review__avatar {
    margin-right: 2.5rem;
}

.review__avatar-img {
    width: 15.8125rem;
    height: 16.5rem;
}

.review__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 31.25rem;
}

.review__header {
    margin-top: 1.25rem;
}

.review__username {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    margin-bottom: 0.9375rem;
}

.reviews__pager {
    padding: 1.25rem;
}

.reviews__pager-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reviews__pager-item {
    margin-right: 0.3125rem;
    border: solid 0.25rem transparent;
    &--active {
        border: 0.25rem solid #E01F3D;
        border-radius: 6.25rem;
    }

    &:last-child {
        margin-right: 0;
    }
    
}

.reviews__pager-img{
    height: 4.625rem;
    width: 4.625rem;
    border-radius: 6.25rem;
}